# Dependencies
node_modules/

# Production Build Artifacts
dist/
release/

# macOS files
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Antigravity/Agent artifacts
.gemini/
brain/

# Local IDE settings
.vscode/
.idea/
